<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>User Status</string>
	<key>PluginUUID</key>
	<string>de190106-820b-46c8-976a-89b89222c84b</string>
	<key>PluginVersion</key>
	<string>0.1</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/MonitoringClient/Plugins/_user_status.plugin</string>
	</array>
</dict>
</plist>
