<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginName</key>
	<string>User Status</string>
	<key>PluginUUID</key>
	<string>7acfc06b-8d6f-4802-8f73-7140fa37b1b1</string>
	<key>PluginVersion</key>
	<string>0.1</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/MonitoringClient/Plugins/_user_status.plugin</string>
	</array>
</dict>
</plist>
